global:
  scrape_interval: 5s # Leer métricas cada 5 segundos

scrape_configs:
  - job_name: "spring-app"
    metrics_path: "/actuator/prometheus"
    static_configs:
      - targets: ['host.docker.internal:8081', # Fuente Estática Loader
                  'host.docker.internal:8082', # Fuente Dinámica Loader
                  'host.docker.internal:8083', # Fuente Proxy Loader
                  'host.docker.internal:8084', # Agregador
                  'host.docker.internal:8085', # Api Pública
                  'host.docker.internal:8086', # Api Administrativa
                  'host.docker.internal:8087', # Estadísticas
                  'host.docker.internal:8094', # UI
      ]
        # 'host.docker.internal' permite a Docker ver la PC (donde corre Java).
        # Si se utiliza Linux nativo, se debe cambiar esto por la IP local (ej: 192.168.1.X:Puerto).