<th:block th:fragment="pageScripts">
    <script th:unless="${colecciones == null || colecciones.isEmpty()}" th:inline="javascript">
        let colecciones = /*[[${colecciones}]]*/ {};
    </script>
    <script th:if="${isAdmin && !(colecciones == null || colecciones.isEmpty())}" src="/js/ver-coleccion.js" defer></script>
    <script th:if="${isAdmin && !(colecciones == null || colecciones.isEmpty())}" src="/js/eliminar-coleccion.js" defer></script>
    <script th:if="${isAdmin && !(colecciones == null || colecciones.isEmpty())}" src="/js/editar-coleccion.js" defer></script>
    <script th:if="${isAdmin}" src="/js/cargarHechos.js" defer></script>
    <script th:unless="${colecciones == null || colecciones.isEmpty()}" src="/js/search-bar.js" defer></script>
</th:block>

<th:block th:fragment="pageStyles">
    <link rel="stylesheet" type="text/css" th:href="@{/css/colecciones.css}" />
</th:block>



<th:block th:replace="~{fragments/layout :: layout(~{::main}, false)}">
    <main class="main-padding flex flex-column">
        <h1 class="page-title">
            Colecciones
        </h1>
        <div th:replace="~{fragments/search-bar :: searchBar('colecciones')}" class="justify-content-center"></div>
        <div th:unless="${colecciones == null || colecciones.isEmpty()}" class="flex flex-col justify-center items-center">
            <div class="w-[55%] flex flex-col">
                <div th:if="${isAdmin}" class="btn-update-wrapper">
                    <button id="actualizar-hechos-colecciones" class="btn-update">
                        Actualizar hechos
                    </button>
                </div>
                <div class="colecciones-container">
                    <div th:each="coleccion : ${colecciones}" class="coleccion-card" th:data-id="${coleccion.id}">
                        <th:block th:replace="~{fragments/cards :: cardColeccion(${coleccion})}" />
                    </div>
                </div>
            </div>

            <th:block th:if="${isAdmin}" th:replace="~{fragments/modal :: modalVerColeccion}" />
            <th:block th:if="${isAdmin}" th:replace="~{fragments/modal :: modalEditarColeccion}" />
        </div>

        <div th:if="${colecciones == null || colecciones.isEmpty()}" class="no-content-container">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="no-content-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
            </svg>
            <p class="no-content-message">
                No hay colecciones disponibles
            </p>
        </div>

        <th:block th:replace="~{fragments/pagination-controls :: paginationControls(
            @{/colecciones(page=${currentPage - 1}, size=${pageSize})},
            @{/colecciones(page=${currentPage + 1}, size=${pageSize})}
        )}" />

        <div id="confirm-overlay" class="confirm-overlay" style="display:none;">
            <div class="confirm-box">
                <h2 class="confirm-title">¿Está seguro que desea cargar los hechos?</h2>
                <p class="confirm-subtitle">
                    Este proceso se realiza de forma automática cada 1 hora. Puede tardar bastante.
                </p>

                <div class="confirm-buttons">
                    <button id="confirm-yes" class="btn-confirm">Actualizar</button>
                    <button id="confirm-no" class="btn-cancel">Cancelar</button>
                </div>
            </div>
            <div id="spinner-overlay" class="spinner-overlay" style="display: none;">
                <div class="spinner"></div>
            </div>
        </div>
    </main>
</th:block>