<th:block th:fragment="pageScripts">
    <script th:inline="javascript">
        let hechos = /*[[${hechos}]]*/ [];
    </script>
    <script src="/js/mapa.js" defer></script>
    <script src="/js/filtrar-mapa.js" defer></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/js/search-bar.js" defer></script>
</th:block>

<th:block th:fragment="pageStyles">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <style>
        .pagination-controls {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
</th:block>

<th:block th:replace="~{fragments/layout :: layout(~{::main}, ${true})}">
    <main class="relative h-[86vh] w-full">
        <div id="map" class="h-full w-full m-0 p-0 z-[1] relative"></div>

        <div class="absolute top-2.5 left-2.5 z-[1000] max-w-[380px]">
            <th:block th:replace="~{fragments/modal :: modalFiltrosMapa}"/>
        </div>

        <th:block th:replace="~{fragments/pagination-controls :: paginationControls(
            @{${currentUri}(page=${currentPage - 1}, size=${pageSize}, categoria=${categoria},
            fechaReporteDesde=${fechaReporteDesde}, fechaReporteHasta=${fechaReporteHasta},
            fechaAcontecimientoDesde=${fechaAcontecimientoDesde}, fechaAcontecimientoHasta=${fechaAcontecimientoHasta}, search=${search})},
            @{${currentUri}(page=${currentPage + 1}, size=${pageSize}, categoria=${categoria},
            fechaReporteDesde=${fechaReporteDesde}, fechaReporteHasta=${fechaReporteHasta},
            fechaAcontecimientoDesde=${fechaAcontecimientoDesde}, fechaAcontecimientoHasta=${fechaAcontecimientoHasta}, search=${search})}
        )}" />
    </main>
</th:block>
