<th:block th:fragment="pageStyles">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mapa.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/crear-hecho.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination.css}" />
</th:block>



<th:block th:replace="~{fragments/layout :: layout(~{::main})}">
    <main class="relative h-[900px]">
        <th:block th:replace="~{fragments/mid-content :: mapa(${hechos})}" />

        <!-- Contenedor para los paneles laterales -->
        <div style="position: absolute; top:10px; left: 10px; z-index: 1000; display: flex; flex-direction: column; gap: 16px; max-width: 380px;">
            <th:block th:replace="~{fragments/mid-content :: hechosRecientes(${hechosRecientes})}" />
            <th:block th:replace="~{fragments/mid-content :: filtros}" />
        </div>
    </main>
</th:block>