.btn-primary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    background-color: black;
    border-radius: 0.375rem;
}

.btn-primary:hover {
    opacity: 87.5%;
}

.btn-secondary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.375rem;
    background-color: #B91C1C;
    color: white;
}

.btn-secondary:hover {
    background-color: #991B1B;
}

.btn-tertiary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    background-color: #3498db;
    border-radius: 0.375rem;
}

.btn-tertiary:hover {
    background-color: #308ac7;
}

.btn-quaternary {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    transition: background-color 0.15s ease;
}

.btn-quaternary:hover {
    background-color: #e5e7eb;
}

.btn-ver {
    background-color: #211bcf;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 1rem;
    font-size: 0.8rem;
}

.btn-ver:hover {
    background-color: #201c87;
}

.btn-editar {
    background-color: black;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 1rem;
    font-size: 0.8rem;
}

.btn-editar:hover {
    opacity: 0.8;
}

.btn-eliminar {
    background-color: #dc2626;
    border: none;
    color: white;
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

.btn-eliminar:hover {
    background-color: #b91c1c;
}

.btn-sm {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
}

.btn-return {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    transition: all 0.2s ease-in-out;
}

.botones-revision {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: flex-end;
}

.gestion-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;
}

.btn-aceptar, .btn-rechazar {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-aceptar {
    background-color: #10b981; /* Verde */
}
.btn-aceptar:hover {
    background-color: #059669;
}
.btn-rechazar {
    background-color: #ef4444; /* Rojo */
}
.btn-rechazar:hover {
    background-color: #dc2626;
}