.colecciones-container {
    display: grid;
    grid-template-rows: repeat(3, 9.5rem);
    grid-template-columns: 55%;
    justify-content: center;
    gap: 1rem;
}

.coleccion-card {
    position: relative;
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
    align-items: start;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.coleccion-titulo {
    font-weight: bold;
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.coleccion-detalles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    gap: 0.5rem;
    height: 90%;
}

.coleccion-descripcion{
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    margin: 0.3rem 0 0.8rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.coleccion-tipo-hechos {
    display: flex;
    gap: 2rem;
}

.coleccion-actions {
    padding: 0.5rem;
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: static !important;
}

.right-section {
    position: absolute;
    top: 1rem;
    right: 1rem;
}