.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #4b5563;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.form-label {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    color: #374151;
    font-weight: 500;
    font-size: 0.9rem;
}

.form-container {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    background-color: #f9fafb;
}

.form-container-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #1f2937;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    background-color: #f9fafb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: #1f2937 !important; /* Color negro para el texto */
    appearance: auto;
    -webkit-appearance: auto;
}

.form-control:hover {
    border-color: #d1d5db;
    background-color: #ffffff;
}

.form-control:focus {
    outline: none;
    border-color: #d1d5db;
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    color: #1f2937 !important; /* Asegurar que el texto siga siendo negro */
}

.form-control::placeholder {
    color: #9ca3af !important;
}

.form-check-input {
    accent-color: #3b82f6;
}

.form-not-completed {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #b91c1c;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    background-color: #f9fafb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: #1f2937 !important; /* Color negro para el texto */
    appearance: auto;
    -webkit-appearance: auto;
}

input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    cursor: pointer;
    accent-color: #3b82f6;
}

.form-solicitud-control {
    border: 2px solid #d1d5db;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 0.9375rem;
    width: 100%;
}

.form-solicitud-control:focus {
    border-color: #d1d5db;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.1);
    outline: none;
}

.form-multimedia-input {
    border-width: 1px;
    border-color: #d1d5db;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    width: 100%;
    transition: border-color 0.2s, box-shadow 0.2s;
    flex-grow: 1;
    border-style: solid;
    line-height: 1.25rem;
}