.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #4b5563;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
}

.form-body {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.form-label {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    color: #374151;
    font-weight: 500;
    font-size: 0.9rem;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    background-color: #f9fafb;
    color: #1f2937 !important; /* Color negro para el texto */
    appearance: auto;
    -webkit-appearance: auto;
}

.form-input:hover {
    border-color: #d1d5db;
    background-color: #ffffff;
}

.form-input:focus {
    outline: none;
    border-color: #d1d5db;
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    color: #1f2937 !important; /* Asegurar que el texto siga siendo negro */
}

.form-input::placeholder {
    color: #9ca3af !important;
}

.form-input[disabled] {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #b4b9c2;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    background-color: #ebeff5;
    color: #1f2937 !important; /* Color negro para el texto */
    appearance: auto;
    -webkit-appearance: auto;
}

.form-check-input {
    accent-color: #3b82f6;
}

.form-obligatory-icon {
    color: red;
}

.form-not-completed {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid red;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: all 0.2s ease;
    background-color: #f9fafb;
    color: #1f2937 !important;
    appearance: auto;
    -webkit-appearance: auto;
}

.form-not-completed:focus {
    outline: none;
    border-color: red;
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
    color: #1f2937 !important;
}

input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    cursor: pointer;
    accent-color: #3b82f6;
}