.primary-info-container-hecho {
    overflow-x: hidden;
}

.info-container-hecho {
    background-color: #e3e3e3;
    max-width: 80%;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.hecho-components {
    display: flex;
    gap: 2rem;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
}

.hecho-left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-right: 3rem;
    margin-left: 3rem;
}

.carousel-container {
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.carousel-container .carousel-control-prev {
    left: -50px;
}

.carousel-container .carousel-control-next {
    right: -50px;
}

.carousel-inner {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-height: 350px;
    max-width: 350px;
    object-fit: contain;
}

.carousel-inner img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.carousel-arrow {
    width: 32px;
    height: 32px;
    color: black;
}

.info-item-hecho {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.info-container-hecho .info-label-hecho{
    font-size: large;
}

.secondary-info-container-hecho {
    padding-right: 1rem;
    line-height: 1.75;
    color: #374151;
}

.info-label-hecho {
    color: #374151;
    font-weight: bold;
}

.contenido-vacio {
    color: #9ca3af;
    font-style: italic;
}

.ultima-modificacion-hecho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #374151;
    font-size: 0.875rem;
    margin-top: 1rem;
}

.tertiary-info-container-hecho {
    width: 100%;
    border-left: 1px solid lightgray;
    padding-left: 1rem;
}

.tag-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.tag-item {
    display: inline-flex;
    align-items: center;
    margin: 4px 4px 4px 0;
    background-color: #FFFFFF;
    padding: 4px 8px;
    border-radius: 1rem;
    font-size: 0.9rem;
    gap: 0.3rem;
}

.agregar-tag {
    margin-top: 8px;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.input-tag {
    flex: 1;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
}

.right-section-hecho {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 800px;
}
