.map-container {
    position: relative;
    width: 100%;
    height: calc(1100/13 * 1vh); /* Ocupa toda la altura de la ventana del navegador */
    background-image: url('../images/mapa-home-page.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;
}

/* Botón de Mapa Interactivo */
.map-button {
    background-color: #B91C1C;
    color: white;
    font-size: 1.5rem;
    padding: 15px 30px;
    transform: translateY(20px);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 30px;
    z-index: 2;
}

.map-button:hover {
    background-color: #991B1B;
}

/* Flecha deslizable */
.scroll-arrow {
    cursor: pointer;
    animation: bounce 2s infinite; /* Efecto de rebote */
    margin-bottom: 10px;
}

/* Cambia el color de la flecha a oscuro para mayor contraste */
.scroll-arrow path {
    stroke: #333; /* Color oscuro */
}

/* Animación de la flecha */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.home-content {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
    padding: 3rem 4rem;
    text-align: center;
}

.home-content-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5rem;
    text-align: center;
    margin: 0 6rem
}

.home-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}