bodyHome {
    font-family: 'Roboto Mono', monospace;
}

.imagen-background {
    width: 100vw;
    height: auto;   
    display: block;     
    opacity: 0.8;
    min-width: 1000px;
}

.redText{
    color: red;
}

@keyframes spin-slow {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

.spin-slow {
    animation: spin-slow 4s linear infinite;
}