.main-padding {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.font-roboto {
    font-family: 'Roboto Mono', monospace;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
}

.metamapa-tabbar-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem; /* py-3 px-4 */
    border-bottom: 2px solid currentColor;
    transition-property: color, background-color, border-color;
    transition-duration: 200ms;
}

.no-content-container {
    flex-direction: column;
    color: #4b5563; /* text-black */
    background-color: transparent; /* bg-transparent */
    margin-bottom: 0.5rem;
}

.no-content-message {
    font-size: 1.2rem;
    color: #4b5563;
}

.no-content-icon {
    width: 100px;
    height: 100px;
    color: #4b5563;
    opacity: 0.4;
}

::-webkit-scrollbar {
    width: 6px; /* Achica la barra */
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 4px;
}