.main-padding {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.font-roboto {
    font-family: 'Roboto Mono', monospace;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
}

::-webkit-scrollbar {
    width: 6px; /* Achica la barra */
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 4px;
}