<button th:fragment="spinnerButton(btnName, btnId)" th:id="${btnId}" class="btn-primary" type="button" aria-label="Haga Click">
	<span th:text="${btnName}" th:id="|nombre-${btnId}|"></span>
	<div th:id="|spinner-${btnId}|" class="w-5 h-5 hidden border-4 border-gray-400 border-t-transparent rounded-full animate-spin"></div>
</button>

<button th:fragment="exitModalButton(cancelBtnName, cancelBtnId)"
		th:id="${cancelBtnId}"
		th:text="${cancelBtnName}"
		th:aria-label="${cancelBtnName}"
		type="button" class="btn-quaternary">
</button>

<span th:fragment="avisoCamposObligatorios" class="form-obligatory-icon text-xs">
	(*): Campo obligatorio
</span>