<th:block th:fragment="headerScripts">
    <th:block th:replace= "~{fragments/menu :: menuScripts}" />
    <script src="/js/return.js" defer></script>
</th:block>

<header th:fragment="navbar(isMapPage)" class="bg-black">

    <!-- NAVBAR -->
    <nav class="px-8 py-2 grid grid-cols-3 items-center relative">
        <!-- Izquierda: Logo -->
        <a href="/" class="flex flex-col w-[5rem] align-items-center">
            <img th:src="@{/images/logo-metamapa.png}" class="w-[4rem] h-[4rem]" alt="Logo Metamapa"/>
            <p class="text-white">METAMAPA</p>
        </a>

        <!-- Centro: Puede ser título, barra de búsqueda, etc -->
        <th:block th:if="${!isMapPage}">
            <h1 class="text-5xl font-semibold text-white text-center">METAMAPA</h1>
        </th:block>
        <th:block th:if="${isMapPage}">
            <th:block th:replace="~{fragments/search-bar :: searchBar('hechos')}" />
        </th:block>

        <!-- Derecha: Menú derecho -->
        <div class="flex align-items-center justify-end gap-4">
            <button id="btn-return" class="btn-return text-white hover:opacity-80 hover:scale-105" aria-label="Volver">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                </svg>
            </button>
            <th:block th:replace="~{fragments/menu :: menu}" />
        </div>
    </nav>

    <!-- TABBAR -->
    <div class="w-full flex justify-center border-t border-gray-800">
        <div class="flex space-x-10 text-sm font-medium">

            <a th:href="@{/mapa}"
               class="inline-block py-3 px-4 border-b-2 transition-colors duration-200"
               th:classappend="${activeTab == 'mapa'} ? 'text-white border-red-700 bg-red-900/20' : 'text-gray-400 border-transparent hover:text-gray-200 hover:bg-red-900/30 hover:border-red-400'">
                Mapa Interactivo
            </a>

            <a th:href="@{/colecciones}"
               class="inline-block py-3 px-4 border-b-2 transition-colors duration-200"
               th:classappend="${activeTab == 'colecciones'} ? 'text-white border-red-700 bg-red-900/20' : 'text-gray-400 border-transparent hover:text-gray-200 hover:bg-red-900/30 hover:border-red-400'">
                Colecciones
            </a>

            <a th:if="${isAdmin}" th:href="@{/solicitudes}"
               class="inline-block py-3 px-4 border-b-2 transition-colors duration-200"
               th:classappend="${activeTab == 'colecciones'} ? 'text-white border-red-700 bg-red-900/20' : 'text-gray-400 border-transparent hover:text-gray-200 hover:bg-red-900/30 hover:border-red-400'">
                Solicitudes
            </a>

        </div>
    </div>
</header>