<header th:fragment="navbar(isMapPage)" class="bg-black">
    <nav class="px-8 py-4 grid grid-cols-3 items-center relative">
        <!-- Izquierda: Logo -->

            <a href="/" class="flex flex-col w-[5rem] align-items-center">
                <img th:src="@{/images/logo-metamapa.png}" class="w-[4rem] h-[4rem]" alt="Logo Metamapa"/>
                <p class="text-white">METAMAPA</p>
            </a>


        <!-- Centro: Puede ser título, barra de búsqueda, etc -->
        <th:block th:if="${!isMapPage}">
            <h1 class="text-5xl font-semibold text-white text-center">METAMAPA</h1>
        </th:block>
        <th:block th:if="${isMapPage}">
            <th:block th:replace="~{fragments/search-bar :: searchBar('hechos')}" />
        </th:block>

        <!-- Derecha: Menú derecho -->
        <div class="flex align-items-center justify-end">
            <button id="btn-return" onclick="window.history.back()" class="btn-return text-white hover:opacity-80 hover:scale-105" aria-label="Volver">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                </svg>
            </button>
            <th:block th:replace="~{fragments/menu :: menu}" />
        </div>
    </nav>
</header>