<div th:fragment="home(isLoggedIn)">
    <th:block th:if="${!isLoggedIn}">
        <div th:replace="~{fragments/button :: botonLogin}"></div>
    </th:block>
    <th:block th:if="${isLoggedIn}">
        <div th:replace="~{fragments/button :: botonPerfil}"></div>
    </th:block>
</div>

<div th:fragment="about">
    <div th:replace="~{fragments/button :: botonVolver}"></div>
</div>

<div th:fragment="map(isLoggedIn, isAdmin)" class="flex gap-3 items-center justify-center">
    <th:block th:if="${isAdmin}">
        <div th:replace="~{fragments/button :: botonSolicitudes}"></div>
    </th:block>
    <div th:replace="~{fragments/button :: botonColecciones}"></div>
    <div th:replace="~{fragments/button :: botonCrearHecho}"></div>
    <div th:replace="~{fragments/right-menu :: home(${isLoggedIn})}"></div>
</div>

<div th:fragment="noMap(isLoggedIn)" class="flex gap-3 items-center justify-center">
    <div th:replace="~{fragments/button :: botonMapa}"></div>
    <div th:replace="~{fragments/right-menu :: home(${isLoggedIn})}"></div>
</div>

<div th:fragment="colecciones(isLoggedIn, isAdmin)" class="flex gap-3 items-center justify-center">
    <th:block th:if="${isAdmin}">
        <div th:replace="~{fragments/button :: botonCrearColeccion}"></div>
    </th:block>
    <div th:replace="~{fragments/right-menu :: noMap(${isLoggedIn})}"></div>
</div>