 <div th:fragment="about">
     <h1 class="text-5xl font-semibold text-black">Acerca del Proyecto</h1>
 </div>

 <div th:fragment="hecho">
     <h1 class="text-5xl font-semibold text-black">Hecho</h1>
 </div>

 <div th:fragment="colecciones" class="text-center">
     <h1 class="text-5xl font-semibold text-black mb-6">Colecciones</h1>
 </div>

 <div th:fragment="solicitudes">
     <h1 class="text-5xl font-semibold text-black">Solicitudes</h1>
 </div>

 <div th:fragment="coleccion">
     <h1 class="text-5xl font-semibold text-black">Colección</h1>
 </div>