<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FD - Landing Page</title>
  <link rel="stylesheet" th:href="@{/css/homepage.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div th:replace="~{fragments/layout :: mainHeader}"></div>

<div th:replace="~{fragments/layout :: sidebar}"></div>

<div class="features-container">
  <div class="feature-item">
    <svg class="icon-svg" viewBox="0 0 24 24"><path d="M13 1v9h6l-7 13v-9H6l7-13z"/></svg>
    <p class="feature-title">Rápido y sencillo</p>
    <p class="feature-description">Publica en segundos.</p>
  </div>
  <div class="feature-item">
    <svg class="icon-svg" viewBox="0 0 24 24"><path d="M21 6H3c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-1 10H4v-1h16v1zm0-3H4v-1h16v1zm0-3H4V9h16v1z"/></svg>
    <p class="feature-title">Exprésate libremente</p>
    <p class="feature-description">Cuenta lo que quieras sin censura.</p>
  </div>
  <div class="feature-item">
    <svg class="icon-svg" viewBox="0 0 24 24"><path d="M18 10h-1V7c0-2.76-2.24-5-5-5S7 4.24 7 7h1.01C8.01 5.4 9.49 4 11.5 4S15 5.4 15 7v3H6c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-8c0-1.1-.9-2-2-2zm0 10H6v-8h12v8zm-6-3c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"/></svg>
    <p class="feature-title">Seguro y anónimo</p>
    <p class="feature-description">Cuenta lo que quieras sin censura.</p>
  </div>
</div>

<div th:replace="~{fragments/layout :: authModals}"></div>

<div th:replace="~{fragments/layout :: pageScripts}"></div>

</body>
</html>